.footer {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: max-content;
    display: flex;
    align-items: center;
}

.footer a {
    color: white;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-decoration: none;
    margin-left: 10px;
}

.footer p {
    color: white;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-decoration: none;
    margin-left: 10px;
}
