@font-face {
    font-family: 'RockSalt';
    src: url('./Fonts/RockSalt-Regular.ttf');
}

@font-face {
    font-family: 'Lexend';
    src: url('./Fonts/LexendTera-VariableFont_wght.ttf');
}

.about-me-title {
    font-family: 'RockSalt';
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 5px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.about-me-section {
    display: flex;
    gap: 40px;
    align-items: flex-start;
    padding: 20px;
}

.images img {
    margin-left: 400px;
    display: flex;
    flex-wrap: column;
    align-items: center;
    margin-top: 10px;
    width: 300px;
    height: auto;
}

.center p {
    flex: 1;
    max-width: 625px;
    font-family: 'Lexend';
    font-size: 15px;
    color: black;
    text-align: left;   
    margin-top: 20px;
}
